.dropdown-options{
  margin-top: 10px;
  border-radius: 5px;
  width: 100%;
  display: grid;
  position: absolute;
  background-color: #eaeaee;
  transform: translateY(-100%);
  transition-duration: .2s;
  opacity: 0;
  z-index: -10;
  &__item{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    gap: 10px;
    cursor: pointer;
    &:hover{
      .checkbox{
      fill:#0368d4;
      }
    }
    
  &:focus-within{
    .checkbox{
      box-shadow:  0 0 5px #007bff;
      border-radius: 4px;
      animation: shacking .2s infinite;
    }
  }
  }
  &-enter-done{
    transform: translateY(0%);
    opacity: 1;z-index: 2;
  }
  &-enter-active{
    transform: translateY(0%);
    opacity: 1;z-index: 2;
  }
  &-exit-active{
    transform: translateY(-100%);
    opacity: 0;
  }
}
.checkbox{
  height: 18px;
  width: 18px;
  fill:#007bff;
  transition: .2s;
  outline: none;
  &:active{
    animation: shacking .2s infinite;
  }
}
.hidden{
  position: fixed;
  opacity: 0;
  z-index: -10;
}